@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
    z-index: 1;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://cdn.pixabay.com/photo/2017/12/24/23/58/geometric-3037790_960_720.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.login-page {
    z-index: 1;
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.fa {
    z-index: 1;
    margin: right 10px;
}

.user-icon {
    z-index: 1;
}

.title {
    z-index: 1;
}

.eye {
    z-index: 1;
    position: absolute;
    
}

#hide1 {
    display: none;
}

input[type=text],input[type=password] {
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}

input[type=button] {
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}

input[type=button]:hover {
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

label {
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}

center {
font-size:32px;
}

.back { 
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}

.note {
    color:red;
}

.valid {
    color:green;
}

div.container {
width: 900px;
height: 610px;
margin:35px auto;
font-family: 'Raleway', sans-serif;
}

div.main {
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
float:left;
margin-top:50px;
}

i {
    z-index: 1;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: black;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: silver;
    margin:5px;
    border-radius: 1px;
    border: 0px solid #eee;
    padding: 8px;
    transition-duration:.5s;
}

.form button {
    border: none;
    background: #27a5df;
    color: white;
    padding: 11px 26px;
    border-radius: 5px;
    font-size: 16px;
    transition-duration:.1s;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    cursor: hand;
}

.form button:hover,.form button:active {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

@media screen and (min-width: 480px) {
  #form {
    width:400px;
  }
}

Input:Focus {
   border-radius:50px;
   background-color: #ccc;
   color:#fff;
}

a {
   text-decoration:none!important;
   color:#FFEB3B;
}

hr {
   border: 2px solid #C1C1C1;
   outline: 1px solid #C3C4C3;
}

* { 
   outline: none;
   user-select: none;
}

H1 {
   width:100%;
   color: #888;
}

#form {
   position: relative;
   z-index: 1;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   outline:15px solid #4bbaed;
   border-radius: 10px;
   text-align: -webkit-center;
   background: rgba(255,255,255,4,0.8);
   padding: 30px 10px;
   outline: top;
   border-top: 30px solid #27a5df;
   outline: bottom;
   border-bottom: 30px solid #27a5df;
   box-shadow: -1px 1px 20px rgba(0, 0, 0,0.5);
   outline: 0;
   outline: none;
}  
   
body {
    z-index: 1;
   -webkit-user-select:none;
   -moz-user-select: none;
   -ms-user-select: none; 
   user-select: none;
   background-attachment: fixed;
   background-position: bottom left ;
   background-repeat: no-repeat;
   background-size: cover;
   transition:1s;
   padding: 10px;
   margin:0;
   color: #888;
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   text-align: -webkit-center;
}
        
footer {
   padding:15px;
   background-color:rgba(255,255,255,.3);
   text-align:-webkit-center;
   color:#fff!important;
}
        
header h1 {
   width:90%;
   Border: 5px dotted #27a5df;
   color: #27a5df;
   text-align:-webkit-center;
   border-radius:5px;
}
